.input-tag-tag-item {
  margin: 0;
  padding: 0 0.5rem 0 0;
  display: flex;
  gap: 0.3rem;
  list-style-type: none;
}

.input-tag-tag-remove-btn {
  cursor: pointer;
}

.theme-1-input-tag-tag-item {
  padding: 0.2rem 0.5rem;
  color: white;
  background-color: rgb(39, 39, 39);
  border-radius: 5px;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.theme-1-input-tag-tag-remove-btn {
  color: white;
  border: none;
  padding: 0 0.2rem;
  font-weight: bold;
  background-color: transparent;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.theme-1-input-tag-tag-remove-btn:hover {
  color: black;
  background-color: white;
}

.theme-2-input-tag-tag-item,
.theme-3-input-tag-tag-item {
  padding: 0.3rem;
  background-color: rgb(199, 199, 199);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.theme-2-input-tag-tag-remove-btn {
  color: white;
  padding: 0.1rem 0.3rem 0.15rem 0.3rem;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  background-color: rgb(207, 31, 31);
}

.theme-3-input-tag-tag-item {
  padding: 0;
  gap: 0rem;
}

.theme-3-input-tag-tag-remove-btn {
  color: white;
  border: none;
  background-color: rgb(126, 126, 126);
}

.theme-3-input-tag-tag-content {
  padding: 0 0.3rem;
}
