.input-tag-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0rem;
}

.tag-list {
  padding: 1rem;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2rem;
  list-style-type: none;
  border-radius: 5px;
  cursor: text;
  border: 1px solid rgb(70, 70, 70);
}

.tag-input-label {
  font-weight: bold;
}

.tag-input {
  border: none;
  background-color: inherit;
}
